.section-un-agency__block {
    width: 100%;
    margin: 0 auto;
    
}
.section-un-agency__block-content {
    max-width: 1311px;
    height: auto;
    margin: 0 auto;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(2, auto);
}
.section-un-agency__block-content-img {
    max-width: 532px;
    margin: auto 0;
}

.section-un-agency__img{
    width: 100%;
    max-height: 599px;
}
.section-un-agency__block-content-text {
    display: inline-block;
    max-width: 538px;
    margin-left: 0px;
    justify-content: center;
    padding-left: 48px;
}
.section-un-agency__block-content-title-mini {
    margin-bottom: 10px;
    margin-top: 30px;
    color: #552768;
    font-size: 18px;
    font-weight: 400;
}
.section-un-agency__block-content-title {
    font-size: 38px;
    line-height: 48px;
    letter-spacing: -1px;
    margin: 0 0 1.4rem;
    font-weight: 700;
    color: #1f2559;
}
.section-un-agency__block-content-text-mini{
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    color: #62668a;
    line-height: 27px;
    text-transform: none;
    letter-spacing: -.1px;
}
.section-un-agency__block-content-btn {
    background-color: #d25658;
    border: 0 solid #d25658;
    border-radius: 5px;
    color: #fff;
    padding: 20px 28px;
    -webkit-filter: drop-shadow(0 2px 6px rgba(31,37,89,.16));
    filter: drop-shadow(0 2px 6px rgba(31,37,89,.16));
    transition: .2s ease-in-out;
    margin-top: 35px;
    margin-bottom: 35px;
}
.section-un-agency__block-content-btn:hover{
    transition: .2s ease-in-out;
    transform: scale(1.03);
    cursor: pointer;
    background-color: #d42035;
    color: #fff;
    border: 0 solid #d42035;
}
@media screen and (max-width:840px){
    .section-un-agency__block-content {
        display: inline-block;
    }
    .section-un-agency__block-content-img {
        display: none;
    }
    .section-un-agency__block-content-text {
        display: inline-block;
        max-width: 800px;
        padding-left: 0;
    }
}




