.section-ete-marketing__block {
    width: 100%;
    margin: 0 auto;
}
.section-ete-marketing__block-bg{
    /* width: 100%; */
    background-image: url(../img/meta.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 100px 20px;
}
.section-ete-marketing__block-content {
    max-width: 1210px;
    /* min-height: 630px; */
    margin: 0 auto;
    /* padding: 100px 0; */

}
.section-ete-marketing__content{
    margin-bottom: 15px;
    max-width: 590px;
    font-family: Plus Jakarta Display,sans-serif;
}

.section-ete-marketing__block-content-title-mini {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;
}
.section-ete-marketing__block-content-title {
    color: #fff;
    font-size: 48px;
    line-height: 62px;
    letter-spacing: -.1px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    margin-bottom: 25px;
}
.section-ete-marketing__block-content-text {
    color: #fff;
    margin-bottom: 15px;
}
.section-ete-marketing__block-content-btn1 {
    background-color: #5bbb73;
    border: 1px solid #5bbb73;
    border-radius: 5px;
    color: #fff;
    padding: 20px 28px;
    margin-right: 16px;
}
.section-ete-marketing__block-content-btn1:hover{
    transition: .2s ease-in-out;
    transform: scale(1.03);
    cursor: pointer;

}
.section-ete-marketing__block-content-btn2 {
    background-color: #fff;
    border: 0 solid #fff;
    border-radius: 5px;
    color: #552768;
    padding: 20px 28px;
}
.section-ete-marketing__block-content-btn2:hover{
    transition: .2s ease-in-out;
    transform: scale(1.03);
    cursor: pointer;
    color: #fff;
    background-color:#552768;

}
@media screen and (max-width:654px){
    .section-ete-marketing__content{
        width: auto;
    }
}
@media screen and (max-width:375px){
    .section-ete-marketing__block-content-btn1 {
        margin-bottom: 8px;
    } 
}