.section-different__block{
    width: 100%;
    margin: 0 auto;
    background-image: url(../img/hubspot-solutions-partner-canada.jpg);
    }
    .section-different__block-content{
    max-width: 1311px;
    margin: 0 auto;
    color: #ffffff;
    padding: 100px 20px;
    }
    .section-different__block-content-title-mini{
        color: #ffffff;
        font-weight: 400;
        text-decoration: none;
        font-style: normal;
        line-height: 27px;
        text-transform: none;
        letter-spacing: -.1px;
        max-width: 573px;
    }
    .section-different__block-content-title{
        font-size: 38px;
        line-height: 48px;
        letter-spacing: -1px;
        font-weight: 700;
        color: #ffffff;
        margin: 0 0 1.4rem;
        max-width: 573px;
    }
    .section-different__block-content-text{
        font-weight: 400;
        text-decoration: none;
        font-style: normal;
        max-width: 573px;
        line-height: 27px;
        text-transform: none;
        letter-spacing: -.1px;
        font-size: 18px;
        margin: 0 0 1.4rem;
        color: #ffffff;
    }
    .section-different__block-content-img{
    max-width: 275px;
    }