.section-resource__block {
    width: 100%;
}
.section-resource__block-content {
    max-width: 1311px;
    margin: 0 auto;
    padding: 80px 20px;
}
.section-resource__block-content-table {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
}
.section-resource__block-content-table-titles {
    margin-bottom: 16px;
}
.section-resource__content-table-title-mini {
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    color: #552768;
    line-height: 27px;
    text-transform: none;
    letter-spacing: -.1px;
}
.section-resource__content-table-title {
    margin-bottom: 16px;
    max-width: 430px;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: -1px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    color: #1f2559;
    text-transform: none;
}

.section-resource__block-content-table-btn {
    margin-bottom: 24px;
    margin-left: 31px;
    display: inline-block;
}
.section-resource__content-table-btn {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #1f2559;
    border-radius: 5px;
    color: #1f2559;
    padding: 20px 28px;
    filter: drop-shadow(0 2px 6px rgba(31,37,89,.16));
    transition: .2s ease-in-out;
}
.section-resource__block-content-cards {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 27px;
    grid-row-gap: 27px;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    margin: 0 auto 36px auto;
    max-width: 1311px;
    padding: 16px 0;
}
.section-resource__block-content-card {
    display: inline-block;
    max-width: 387px;
    width: 100%;
    padding: 0px;
    transition: transform 0.3s ease;
    // max-width: 100%;
    background-color: #fff;
    border: 1px solid #f4f4f9;
    border-radius: 24px;
    filter: drop-shadow(0 3px 10px rgba(31,37,89,.04));
}
// .section-resource__block-content-card+.section-resource__block-content-card{
//     margin-right: 24px;
// }
.section-resource__block-content-card-img {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    object-fit: cover;
    max-height: 202px;
    max-width: 100%;
    margin-right: 8px;
}
.section-resource__block-content-card-text-middle {
    margin-bottom: 4px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}
.section-resource__content-card-text-middle-title {
    font-size: 20px;
    margin-bottom: 12px;
    line-height: 28px;
    font-weight: 500;
    text-decoration: none;
    font-style: normal;
    color: #1f2559;
    text-transform: none;
    letter-spacing: 0;
}
.section-resource__content-card-text-middle-paragraph {
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    color: #62668a;
    line-height: 27px;
    text-transform: none;
    letter-spacing: -.1px;
    margin-bottom: 12px;
}
.section-resource__block-content-card-text-end {
    border-top: 1px solid #E7E8F1;
    padding: 24px 24px 16px 24px;
    width: 100%;
}
.section-resource__card-text-end-img {
display: inline-block;
width: 70px;
height: 60px;
}
.section-resource__card-end-img {
    border-radius: 50%;
    width: 54px;
    height: 54px;
}
.section-resource__block-content-card-text-end-titles {
    text-align: left;
    margin-left: 0px;
    width: auto;
    display: inline-block;
}
.section-resource__content-card-text-end-title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    text-decoration: none;
    font-style: normal;
    color: #1f2559;
    text-transform: none;
    letter-spacing: 0;
}
.section-resource__content-card-text-end-paragraph {
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    color: #62668a;
    line-height: 27px;
    text-transform: none;
    letter-spacing: -.1px;
    margin-bottom: 0px;
    font-size: 14px;
}
.section-resource__block-content-card-text-end-btn {
    text-align: right;
    margin-left: 0px;
    float: right;
    width: auto;
}
.section-resource__content-card-text-end-btn {
    background-color: #552768;
    padding: 6px 12px 8px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 12px;
}