.section-different__block{
    width: 100%;
    margin: 0 auto;
    background-image: url(../img/hubspot-solutions-partner-canada.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(2, auto);
    }
    .section-different__block-content-zero{
        width: 500px;
    }
    .section-different__block-content{
    max-width: 589px;
    // margin: 0 auto;
    color: #ffffff;
    padding: 100px 20px;
    }
    .section-different__block-content-title-mini{
        color: #ffffff;
        font-weight: 400;
        text-decoration: none;
        font-style: normal;
        line-height: 27px;
        text-transform: none;
        letter-spacing: -.1px;
        max-width: 573px;
    }
    .section-different__block-content-title{
        font-size: 38px;
        line-height: 48px;
        letter-spacing: -1px;
        font-weight: 700;
        color: #ffffff;
        margin: 0 0 1.4rem;
        max-width: 573px;
    }
    .section-different__block-content-text{
        font-weight: 400;
        text-decoration: none;
        font-style: normal;
        max-width: 573px;
        line-height: 27px;
        text-transform: none;
        letter-spacing: -.1px;
        font-size: 18px;
        margin: 0 0 1.4rem;
        color: #ffffff;
    }
    .section-different__block-content-img{
    max-width: 275px;
    }
    @media screen and (max-width:833px){
        .section-different__block-content-zero{
            width: 325px;
        }
    }
    @media screen and (max-width:658px){
        .section-different__block-content-zero{
            display: none;
        }
        .section-different__block{
            background: #d25658!important;
        }
    }
    @media screen and (max-width:350px){
        .section-different__block-content{
            padding: 80px 10px;
            }
    }