.section-clients__block {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.section-clients__block-content {
    max-width: 1311px;
    margin: 0 auto;
    padding: 80px 20px;
    
}
.section-clients__block-content-title-mini {
    text-align: center;
    margin-bottom: 8px;
    text-align: center;
    color: #552768;
    font-size: 18px;
    font-weight: 400;
}
.section-clients__block-content-title {
    text-align: center;
    // max-width: 520px;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: -1px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    color: #1f2559;
    text-transform: none;
    margin: 0 0 1.4rem;
}
.section-clients__block-content-carousel {
    max-width: 1311px;
    // box-sizing: border-box;
    animation: scroll 10s linear infinite;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow:hidden;
}
@keyframes scroll{
    0%{
        transform: translate(-100%);
    }
    25%{
        transform: translate(-50%);
    }
    50%{
        transform: translate(0);
    }
    75%{
        transform: translate(50%);
    }
    100%{
        transform: translate(100%); 
    }
}
.section-clients__block-content-carousel-img{
    width: 250px;
}
.section-clients__content-carousel-img{
    padding: 16px 0 18px;
    transition: transform .3s;
    // width: 100%;
    max-height: 100px;
    overflow:hidden;
}
.section-clients__content-carousel-img:hover{
    transform: scale(1.1);
}
@media screen and (max-width: 800px){
    .section-clients__block-content-carousel {
        animation: none;
        overflow: visible;
    }
}